@font-face {
  font-family: 'albaregular';
  src: url('alba____-webfont.woff2') format('woff2'),
       url('alba____-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: auto;
  background-image: url("plants.jpg");
  background-size: cover;
}

.right {
  background-color: rgb(236, 229, 229);
  width: auto;
  height: 100vh;
}

.rightholder {
  padding: 75px 20px;
}

.plant {
  max-height: 100%;
  z-index: -2;
}

.banner {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: black;
  opacity: .4;
  z-index: 1;
  top: 150px;
  height: 150px;
  width: 35vw;
  min-height: 150px;
  overflow: hidden;
}

.credit {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 30px; 
}

.logo {
  position: fixed;
  top: 175px;
  left: 50px;
  width: 70px;
  height: auto; 
  z-index: 2;
}

.Name{
  z-index: 2;
  font-size: 3em;
  position: fixed;
  top: 165px;
  left: 140px;
  color: white;
}

.formwrapper {
  background-color: white;
  padding: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 5px 10px rgb(199, 107, 107);
}

form {
  display: grid;
  grid-template-columns: auto auto;
  font-family: 'albaregular';
}

button {
  background-color: green;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: none;
}

.account {
  color: rgb(207, 11, 11);
  padding: 10px;
}